.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-image: url("Background2.jpg");
    background-size: cover;
    background-position: center;
}

.div_speed{
    float: left;
}

.div_img{
width: 200px;
border-radius: 100px;
}

#speed, #volume{
    font-size: 23px;
    margin: 15px;

}

.div_volume{
    float: right;
}

.btn1{
    font-size: 25px;
}

canvas{
    border: 5px solid aqua;
    border-radius: 20px;
    margin-top: 30px;
}
